body {
  background: #F0ECE3;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.Header {
  padding: 15px;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* background: green; */

}

.card .card-detail {
  /* background: #AEFEFF; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 20%;
  border: solid 1px #DFD8CA;
  
 
}

.card-detail button{
  margin: 5px;
  width: 100px;
  /* background: yellow; */
  flex-grow: 1;
  flex-basis: 40%;
}

.card-detail h4{
  margin: 5px;
  /* background: purple; */
  flex-grow: 1;
  flex-basis: 40%;
}